
<div class="mt-3">
    <button type="submit" class="btn btn-success" (click)="obtenerNoticias()">Obtener Noticias</button>
</div>


<div class="container-fluid mt-4">
    <div>
        <h3 class="m-2">Noticias Destacadas</h3>
    </div>
    <div class="row mb-1">
        <div class="col-12 col-sm-12 col-md-8 mb-2 pt-2"> <!-- border-->
            <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-2"> <!--lg-3 era-->
                <div class="card text-justify mb-3 mx-auto" style="width: 18rem;" *ngFor="let n of noticias">
                    <img [src]="n.mainMedia[0].original.url" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{n.title}}</h5>
                      <!--p class="card-text mt-2">.</p-->
                      <button type="submit" class="btn btn-primary"  (click)="mostrarInfo(n.id)">+ Info</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-10 col-sm-10 col-md-3 text-center mx-auto mb-2"> <!-- border-->
            <div>
                <img src="https://marketplace.canva.com/EAFybW-SV60/2/0/900w/canva-historia-de-instagram-anuncio-black-friday-llamativo-rosa-KJECDGVBD4U.jpg" class="img-fluid" alt="">
            </div>
            <br>
            <br>
            <div>
                <img src="https://marketplace.canva.com/EAFQsqjGHeI/2/0/900w/canva-reel-de-instagram-men%C3%BA-hamburguesa-oferta-men%C3%BA-publicidad-moderno-animado-verde-y-rojo-8fIEaY-sfLo.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>


<!--MODAL-->

<div>
    <div *ngIf="noticia" class="modal show d-block fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">

            <div class="modal-header bg-primary">
              <h6 class="modal-title text-light">{{ tituloModal}}</h6>
              <button type="button" class="btn-close" (click)="cerrarModal()" aria-label="Close"></button>
            </div>

            <div class="modal-body bg-body-secondary">
              <div [innerHTML]="info"></div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="cerrarModal()">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
</div>